<div class="container" style="background-color: floralwhite">
    <a href="#!/"><img src="/static/lncRNASNP2/graph/new_title.png" style="width: 1140px;height: 100px"></a>
    <nav class="navbar navbar-default">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#!/" class="navbar-brand">
                <span style="color: black">lncRNASNP2</span>
                <span style="color: yellow">-human</span>
            </a>
        </div>


        <div class="collapse navbar-collapse" id="navigation">
            <ul class="nav navbar-nav">
                <li><a href="#!/search"><strong>Search</strong></a></li>
                <li><a href="#!/lncrna"><strong>lncRNA</strong></a></li>
                <li><a href="#!/snp"><strong>SNP</strong></a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" ><strong>Mutation</strong><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#!/tcga_home">TCGA Mutation</a></li>
                        <li><a href="#!/cosmic_ncv">Cosmic NCV</a></li>
                    </ul>
                </li>
                <li><a href="#!/mirna"><strong>miRNA</strong></a></li>
                <li><a href="#!/download"><strong>Download</strong></a></li>
                <li><a href="#!/document"><strong>Document</strong></a></li>
                <li><a href="http://bioinfo.life.hust.edu.cn/lncRNASNP"><strong style="font-size: larger;color: greenyellow">lncRNASNP<sub>1.0</sub></strong></a></li>
            </ul>
            <a class="btn btn-success pull-right" style="margin-top: 7px; background-color: #E6AABB" href="http://bioinfo.life.hust.edu.cn/lncRNASNP2_mouse/">
                <strong style="color: black">Go to Mouse</strong>
            </a>
        </div>
    </nav>
</div>

