<div class="well"><p style="font-size: 16px">
    In this module, we provide the information of
    <span></span>
    human lncRNA transcripts of
    <span></span>
    lncRNA genes.There are
    <span>{$ records_number $}</span>
    human lncRNA transcripts of
    <span>{$ gene_count $}</span>
    lncRNA genes on
    <strong>chromosome
        <span ng-hide="chr_num">1.</span>
        <span ng-show="chr_num">{$ chr_num.substring(4,chr_num.length-1) $}</span></strong>
</p>
</div>
<form method="get" id="lncrna-filter-form" class="form form-horizontal">
    <div class="row">
        <div class="col-sm-8">
            <img src="/static/lncRNASNP2/graph/chromosome.png" id="lncrna-chromosome-map" usemap="chromosomemap">
            <map name="chromosomemap" id="lncrna-chromosome-map">
                <area shape="rect" coords="21,115,31,135" href="#!/lncrna?chromosome=chr1" title="chr1">
                <area shape="rect" coords="58,115,68,135" href="#!/lncrna?chromosome=chr2" title="chr2">
                <area shape="rect" coords="99,115,109,135" href="#!/lncrna?chromosome=chr3" title="chr3">
                <area shape="rect" coords="136,115,146,135" href="#!/lncrna?chromosome=chr4" title="chr4">
                <area shape="rect" coords="174,115,184,135" href="#!/lncrna?chromosome=chr5" title="chr5">
                <area shape="rect" coords="213,115,223,135" href="#!/lncrna?chromosome=chr6" title="chr6">
                <area shape="rect" coords="253,115,263,135" href="#!/lncrna?chromosome=chr7" title="chr7">
                <area shape="rect" coords="289,115,300,135" href="#!/lncrna?chromosome=chr8" title="chr8">
                <area shape="rect" coords="326,115,337,135" href="#!/lncrna?chromosome=chr9" title="chr9">
                <area shape="rect" coords="362,115,380,135" href="#!/lncrna?chromosome=chr10" title="chr10">
                <area shape="rect" coords="399,115,418,135" href="#!/lncrna?chromosome=chr11" title="chr11">
                <area shape="rect" coords="438,115,456,135" href="#!/lncrna?chromosome=chr12" title="chr12">
                <area shape="rect" coords="479,115,496,135" href="#!/lncrna?chromosome=chr13" title="chr13">
                <area shape="rect" coords="518,115,533,135" href="#!/lncrna?chromosome=chr14" title="chr14">
                <area shape="rect" coords="556,115,573,135" href="#!/lncrna?chromosome=chr15" title="chr15">
                <area shape="rect" coords="596,115,613,135" href="#!/lncrna?chromosome=chr16" title="chr16">
                <area shape="rect" coords="633,115,648,135" href="#!/lncrna?chromosome=chr17" title="chr17">
                <area shape="rect" coords="669,115,687,135" href="#!/lncrna?chromosome=chr18" title="chr18">
                <area shape="rect" coords="709,115,727,135" href="#!/lncrna?chromosome=chr19" title="chr19">
                <area shape="rect" coords="744,115,763,135" href="#!/lncrna?chromosome=chr20" title="chr20">
                <area shape="rect" coords="781,115,800,135" href="#!/lncrna?chromosome=chr21" title="chr21">
                <area shape="rect" coords="820,115,838,135" href="#!/lncrna?chromosome=chr22" title="chr22">
                <area shape="rect" coords="862,115,875,135" href="#!/lncrna?chromosome=chrX" title="chrX">
                <area shape="rect" coords="901,115,915,135" href="#!/lncrna?chromosome=chrY" title="chrY">
                <area shape="rect" coords="21,0,31,105" href="#!/lncrna?chromosome=chr1" title="chr1">
                <area shape="rect" coords="58,3,68,105" href="#!/lncrna?chromosome=chr2" title="chr2">
                <area shape="rect" coords="99,22,109,105" href="#!/lncrna?chromosome=chr3" title="chr3">
                <area shape="rect" coords="136,27,146,105" href="#!/lncrna?chromosome=chr4" title="chr4">
                <area shape="rect" coords="174,28,184,105" href="#!/lncrna?chromosome=chr5" title="chr5">
                <area shape="rect" coords="213,33,223,105" href="#!/lncrna?chromosome=chr6" title="chr6">
                <area shape="rect" coords="253,38,263,105" href="#!/lncrna?chromosome=chr7" title="chr7">
                <area shape="rect" coords="290,46,300,105" href="#!/lncrna?chromosome=chr8" title="chr8">
                <area shape="rect" coords="327,48,337,105" href="#!/lncrna?chromosome=chr9" title="chr9">
                <area shape="rect" coords="366,48,376,105" href="#!/lncrna?chromosome=chr10" title="chr10">
                <area shape="rect" coords="403,48,414,105" href="#!/lncrna?chromosome=chr11" title="chr11">
                <area shape="rect" coords="442,50,452,105" href="#!/lncrna?chromosome=chr12" title="chr12">
                <area shape="rect" coords="482,54,493,105" href="#!/lncrna?chromosome=chr13" title="chr13">
                <area shape="rect" coords="520,55,530,105" href="#!/lncrna?chromosome=chr14" title="chr14">
                <area shape="rect" coords="557,55,567,105" href="#!/lncrna?chromosome=chr15" title="chr15">
                <area shape="rect" coords="596,63,610,105" href="#!/lncrna?chromosome=chr16" title="chr16">
                <area shape="rect" coords="633,64,645,105" href="#!/lncrna?chromosome=chr17" title="chr17">
                <area shape="rect" coords="671,65,684,105" href="#!/lncrna?chromosome=chr18" title="chr18">
                <area shape="rect" coords="709,70,724,105" href="#!/lncrna?chromosome=chr19" title="chr19">
                <area shape="rect" coords="747,73,760,105" href="#!/lncrna?chromosome=chr20" title="chr20">
                <area shape="rect" coords="783,75,797,105" href="#!/lncrna?chromosome=chr21" title="chr21">
                <area shape="rect" coords="822,74,837,105" href="#!/lncrna?chromosome=chr22" title="chr22">
                <area shape="rect" coords="861,38,874,105" href="#!/lncrna?chromosome=chrX" title="chrX">
                <area shape="rect" coords="901,73,913,105" href="#!/lncrna?chromosome=chrY" title="chrY">
            </map>
        </div>
    </div>
</form>

<div paging
     page="currentPage"
     page-size=30
     total="records_number"
     scroll-top="true"
     hide-if-empty="true"
     show-prev-next="true"
     show-first-last="true"
     text-title-page="Page {page} Hover Over"
     text-title-first="First hover"
     text-title-last="Last hover"
     text-title-next="Next hover"
     text-title-prev="Prev hover"
     show-prev-next="true"
     show-first-last="true"
     ul-class="pagination"
     active-class="active"
     disabled-class="disabled"
     paging-action="update_page('test',page,page-size,total)"

>
</div>
<div class="flyover" ng-hide="lncrna_gene_list.length">
    <div class="mask"></div>
    <div class="spinner"></div>
</div>
<table class="table table-bordered table-hover table-condensed" ts-wrapper ng-show="lncrna_gene_list.length">
    <thead>
    <tr >
        <th ts-criteria="lncrna">lncRNA ID</th>
        <th ts-criteria="gene">lncRNA Gene</th>
        <th style="text-align: center" ts-criteria="snp_count|parseInt">Variant
            <span class="glyphicon glyphicon-question-sign" data-placement="top"  data-container="body" data-toggle="popover" style="color: dodgerblue" data-trigger="hover" data-content="Number of SNPs,TCGA cancer mutations, CosmicNCVs in this lncRNA"></span>
        </th>
        <th style="text-align: center">miRNA
            <span class="glyphicon glyphicon-question-sign" data-placement="top"  data-container="body" data-toggle="popover" style="color: dodgerblue" data-trigger="hover" data-content="Number of miRNAs target in this lncRNA.1)conserved targets;2)non-conserved targets;3)experimental validated targets;4)targets with miRNA expression>=1; 5)targets with miRNA expression<1."></span></th>
        <th style="text-align: center" ts-criteria="gain|parseInt">Gain
            <span class="glyphicon glyphicon-question-sign" data-placement="top"  data-container="body" data-toggle="popover" style="color: dodgerblue" data-trigger="hover" data-content="Number of gains of miRNA targets induced by SNPs, TCGA cancer mutations, CosmicNCVs"></span></th>
        <th style="text-align: center" ts-criteria="loss|parseInt">Loss
            <span class="glyphicon glyphicon-question-sign" data-placement="top"  data-container="body" data-toggle="popover" style="color: dodgerblue" data-trigger="hover" data-content="Number of losses of miRNA targets induced by SNPs, TCGA cancer mutations, CosmicNCVs"></span></th>
    </tr>
    </thead>
    <tbody>


    <tr ng-repeat="lncrna in lncrna_gene_list" ts-repeat>
        <td ng-init="lnc">
            <a href="#!/lncrna_info?lncrna={$ lncrna.lncrna $}" target="_self" ng-click="lncrna_detail()">
                {$ lncrna.lncrna $}
            </a>
        </td>
        <td>
            <a href="http://www.noncode.org/show_gene.php?id={$  $}&version=2&utd=1#">{$ lncrna.gene $}</a>
        </td>
        <td style="text-align: center">
            <span class="text-danger">{$ lncrna.snp_count $}</span>
            <span class="text-success">   ,  {$ lncrna.tcga_count $}</span>
            <span class="text-primary">   ,  {$ lncrna.cosmic_count $}</span></td>
        <td style="text-align: center">
            <span class="text-danger">{$ lncrna.cons $}</span>
            <span class="text-success">   ,  {$ lncrna.non_cons $}</span>
            <span class="text-primary">   ,  {$ lncrna.exp $}</span>
            <span class="text-warning">   ,  {$ lncrna.large $}</span>
            <span class="text-capitalize">   ,  {$ lncrna.small $}</span>
        </td>
        <td style="text-align: center">
            <span class="text-primary">{$ lncrna.gain $}</span>
            <span class="text-warning">   ,  {$ lncrna.tcga_gain $}</span>
            <span class="text-capitalize">   ,  {$ lncrna.cosmic_gain $}</span></td>
        <td style="text-align: center"><span class="text-primary">{$ lncrna.loss $}</span>
            <span class="text-warning">   ,  {$ lncrna.tcga_loss $}</span>
            <span class="text-capitalize">   ,  {$ lncrna.cosmic_loss $}</span></td>
    </tr>
    </tbody>
</table>
<div paging
     page="currentPage"
     page-size=30
     total="records_number"
     scroll-top="true"
     hide-if-empty="true"
     show-prev-next="true"
     show-first-last="true"
     text-title-page="Page {page} Hover Over"
     text-title-first="First hover"
     text-title-last="Last hover"
     text-title-next="Next hover"
     text-title-prev="Prev hover"
     show-prev-next="true"
     show-first-last="true"
     ul-class="pagination"
     active-class="active"
     disabled-class="disabled"
     paging-action="update_page('test',page,page-size,total)"
>
</div>
